<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02P02_2021MM601_2021DD601</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L02P02_2021MM601_2021DD601.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-custom border-bottom box-shadow mb-3">
            <div class="container-fluid justify-content-center">
                <div class="row">
                    <div class="col text-center">
                        <img src="~/img/logoUnicaes.png" style="max-width: 100px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <p class="colortexto">Comentarios Por Libros</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">                  
                        <h6 style="color: darkgray">Seleccione el autor -> Seleccione el libro -> Se muestra los comentarios existentes -> Adicione un número nuevo</h6>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class=" footer text-center">
        <h6 style="color: darkgray">2021-DD-601 - IVONNE ESMARALDA DURÁN DÍAZ</h6>
        <h6 style="color: darkgray">2021-MM-601 - LAURA LORENA MEDINA MONTERO</h6>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
